body {
    background: #d1ecb4;
}

.container-1 {
    background: grey;
    border: 5px black solid;
    padding: 20px;
    margin: 20px;
}

a.button-1 {
    float: center;
    padding: 5px;
    margin: 20px;
    background-color: blue;
}
